<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        
    </ul>
    
    <h1>Welcome to the Contact Us</h1>
    <p>This is a simple homepage using EJS.</p>
    <script src="/js/scripts.js"></script>
</body>
</html>