<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        
    </ul>
    <hr>
<%-body %>    
<hr>
    <div id="footer">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia maxime adipisci impedit dignissimos dolor hic, reprehenderit consequuntur minima, voluptatibus non voluptatum, labore dolorem quod! Similique officiis itaque molestias. Ex, modi.
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>